/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    image-rendering: auto;
} */


.login-container {
    background-color: white;
    border: 2px solid rgb(199, 196, 196);
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    width: 100vw;
    max-width: 400px;
    text-align: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#loginForm{
    margin-left: 20px;
    margin-right: 20px;
    color: #333;
}

.login-container h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 0.5rem;
}
.username {
    margin-right: 25px;
}


.input-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(136, 133, 133);
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.input-group input:focus,
.input-group select:focus {
    border-color: #3cd642;
    outline: none;
}

.showPassword{
    text-align: left;
    margin-top: -20px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.loginButton {
    width: 335px;
    padding: 12px;
    margin-left: 9px;
    background-color: #40ad43;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 0.9rem;
}

.loginButton:hover {
    background-color: #47994c;
}

.links {
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: #47994c;
}

.links a {
    color: black;
    text-decoration: solid;
    font-size: 14px;
}

.links a:hover {
    text-decoration:underline;
}
