.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid rgb(199, 196, 196);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.showPassword {
    margin-bottom: 15px;
    color: #555;
}

.signupButton {
    width: 335px;
    padding: 12px;
    margin-left: 13px;
    background-color: #40ad43;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 0.9rem;
}

.signupButton:hover {
    background-color: #47994c;
}

.links {
    text-align: center;
    margin-top: 15px;
}

.links a {
    color: #47c94c;
    text-decoration: none;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}